* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}

body {
    max-width: 100%;
    background: #A100004D;
}

h1 {
    padding: 15px 0 15px 0;
    color: #A10000;
    font-weight: 700;
    font-size: 30px;
}

h2 {
    font-weight: bold;
    font-size: 25px;
    padding: 1rem 0;
}

.serving-suggestion-container {
    display: flex;
    flex-direction: row;
    zoom: 75%;
    gap: 25px;
    height: 60vh;
}


/* object-fit: cover saved the images from being distorted when shrinking them */
.serving-suggestion-imgs {
    width: 50%;
    object-fit: cover;
}

.recipe-intro {
    background-color: #EBEBEB;
    padding: 24px;
    margin-top: 10px;
}

.header-img {
    max-width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.container-div {
    width: 100%;
    background: white;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.recipe-wrapper {
    margin: 2rem;
}

/* .test {
    background: url("https://s3-alpha-sig.figma.com/img/9687/41c9/106b48e3dbf2fc372582a9771186de19?Expires=1732492800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=KfaW16v0LSzKplBRWs1X0NwyQY2-bYwJPJsiqkltO7Loi3D-A90Q1NY7xNWdUQmvyrgA~u-PGlidNWSgo9JGxAXewFiEgvOFiRQomwj8FY7dXSexXmzooWVMZCHw-nbpDoH-yC02cI3hAXCxvpe3qHU-nqK4fl3mzJNX3I8LNSkHtZosmmKqqeG-9p9VHsvOa2UeUnqgRVxiMdGJlUJ3T0kyVAfvouLLw8VWhlQ9Z-zN97hyA70I7KKbYe7PHe5gthlCWaWZUBHajXl8Iw-l99lJZD67f-0Rzz6GAOtUiZdXWFaLNF~orOsYPc9HahlP~ArXnYx-lfr3xiVIhN~L5Q__") no-repeat;
    width: 40%;
    display: inline-block;
    overflow: hidden;
} */

@media (max-width: 440px) {

    .container-div {
        max-width: fit-content;
        min-height: 100vh;
        background-color: white;
    }

    .recipe-wrapper {
        margin: 2rem;
    }

    .header-img {
        width: 100vw;
        padding: 0;
    }

    .serving-suggestion-container {
        flex-wrap: nowrap;
        flex-direction: column;
        height: fit-content;
    }

    .serving-suggestion-imgs {
        padding: 5px;
        zoom: 50%;
        width: 100%;
        height: 80vh;
    }

}