button {
    background-color: rgb(148, 94, 135);
    width: 100px;
    height: 50px;
    box-shadow: 5px 5px 5px rgb(86, 26, 70);
}

button:hover {
    background-color: rgb(86, 26, 70);
    color: aliceblue;
    width: 50px;
    height: 100px;
    box-shadow: 5px 5px 5px rgb(148, 94, 135);
    transition-duration: 4s;
}

* {
    margin: 0;
    color: grey;
}

body {
    background-color: antiquewhite;
}

ul {
    list-style-type: none;
}

li {
    color: white;
    font-size: large;
    font-weight: 800;
    padding: 1rem 0frf;
}

.nav-nr {
    font-size: x-large;
    font-weight: 700;
    padding-right: 1rem;
}

.open {
    padding: 2rem;
    background-color: rgb(52, 49, 49);
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100vh;
    list-style-type: none;
}

.circle {
    background-color: red;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

.card {
    height: 200px;
    width: 100px;
    position: absolute;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

.card:nth-child(1) {
    background-color: pink;
    top: 0px;
}

.card:nth-child(2) {
    background-color: purple;
    top: 5px;
}

.card:nth-child(3) {
    background-color: darkblue;
    top: 10px;
}

.card:nth-child(4) {
    background-color: lightblue;
    top: 15px;
}

.card:nth-child(5) {
    background-color: darkgreen;
    top: 20px;
}

.card:nth-child(6) {
    background-color: lightgreen;
    top: 25px;
}

.card:nth-child(7) {
    background-color: yellow;
    top: 30px;
}

.card:nth-child(8) {
    background-color: orange;
    top: 35px;
}

.card:nth-child(9) {
    background-color: red;
    top: 40px;
}

.card-container:hover .card:nth-child(1) {
    transform: rotate(-50deg);
}

.card-container:hover .card:nth-child(2) {
    transform: rotate(-40deg);
}

.card-container:hover .card:nth-child(3) {
    transform: rotate(-30deg);
}

.card-container:hover .card:nth-child(4) {
    transform: rotate(-20deg);
}

.card-container:hover .card:nth-child(5) {
    transform: rotate(-10deg);
}

.card-container:hover .card:nth-child(7) {
    transform: rotate(10deg);
}

.card-container:hover .card:nth-child(8) {
    transform: rotate(20deg);
}

.card-container:hover .card:nth-child(9) {
    transform: rotate(30deg);
}

.container {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    border: 2px green dotted;
    background-color: white;
}

.cube {
    width: 50px;
    height: 50px;
    position: absolute;
    animation: moving-box 10s linear 1;
    background-color: green;
}

@keyframes moving-box {
    0% {
        left: 0;
        top: 0;
        background-color: green;
    }
    25% {
        left: 450px;
        top: 0;
        background-color: pink;
    }
    50% {
        left: 450px;
        top: 450px;
        background-color: blue;
    }
    75% {
        left: 0;
        top: 450px;
        background-color: darkgrey;
    }
    100% {
        left: 0;
        top: 0;
        background-color: green;
    }
}