body {
    margin: 0;
    font-family: sans-serif;
    background-color: black;
    color: #ccc;
}

main {
    padding: 0 8em;
}

h1 {
    margin: 0;
    padding: 2em 0 3em;
    color: black;
    text-align: center;
    font-size: 50px;
}

.banner {
    background-color: #3DE07E;
}

.hero-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin: 1em;
}

/* my mistake: over-engineering. NEEDS FLEXBOX! ... oh no i just need the ONE thing below:
.text-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

.text-content-wrapper {
    text-align: start;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.take-my-money {
    background-color: #E83F57;
    color: white;
    padding: 0.4em;
    border-radius: 4px;
    width: fit-content;
}

.poster {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.poster img {
    max-width: 100%;
    height: auto;
}

.last-posters {
    color: black;
    background-color: white;
}

/* for sizing the last-two container differently */
.last-two {
    display: flex;
    justify-content: center;
    /* match the margin and gap for the items so they are always evenly spaced */
    margin: 2em 1em;
    gap: 1em;
}

.last-two .text-content-wrapper {
    margin: 0 0 1em 1em;
}

.last-two .take-my-money {
    margin: 0 0 1em 1em;
}

.last-two .poster {
    width: 50%;
    background-color: white;
    color: black;
}

footer {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    margin: 3em 0 0;
    padding: 1.5em 1em 3em;
}

footer h3 {
    margin-top: 0;
}

footer a {
    color: #ccc;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .links {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

footer address p {
    font-size: 0.75em;
    max-width: 70%;
}