body {
    margin: 0;
    font-family: sans-serif;
    background-color: black;
    color: #ccc;
}

h1 {
    margin: 0;
    padding: 2em 0 3em;
    color: black;
    text-align: center;
    font-size: 50px;
}

.banner {
    background-color: #3DE07E;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.poster {
    margin: 10px;
    /* bonus border because nice */
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 25%;
    /* flex-grow: 1; */
}

/* my mistake: over-engineering. NEEDS FLEXBOX! ... oh no i just need the ONE thing below:
.text-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

.text-content-wrapper {
    text-align: start;
}

.take-my-money {
    background-color: #E83F57;
    color: white;
    padding: 0.4em;
    border-radius: 4px;
}

.poster img {
    max-width: 100%;
    height: auto;
}

.last-posters {
    color: black;
    background-color: white;
}

.last-two {
    display: flex;
    justify-content: center;
}

