body {
    margin: 0;
    font-family: sans-serif;
    background-color: black;
    color: #ccc;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    padding: 0 5em;
}

h1 {
    margin: 0;
    padding: 2em 0 3em;
    color: black;
    text-align: center;
    font-size: 50px;
}

.banner {
    background-color: #3de07e;
}

.hero-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    margin: 3em 1em;
}

/* .poster {
    text-align: center;
    display: flex;
    flex-direction: column;
} */

/* my mistake: over-engineering. NEEDS FLEXBOX! ... oh no i just need the ONE thing below:
.text-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

.text-content-wrapper {
    text-align: start;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 1em 1em 1em;
}

.text-content-wrapper p {
    flex-grow: 1;
}

.take-my-money {
    background-color: #e83f57;
    color: white;
    padding: 0.4em;
    border-radius: 4px;
    width: fit-content;
}

.poster img {
    max-width: 100%;
    height: auto;
}

.last-posters {
    color: black;
    background-color: white;
}

.last-two {
    display: flex;
    justify-content: center;
    /* match the margin and gap for the items so they are always evenly spaced */
    margin: 1em;
    gap: 1em;
}

/* for styling the last-two container differently */
.last-two .poster {
    width: 50%;
    background-color: white;
    color: black;
}

.summary {
    margin: 1em;
    display: flex;
    flex-direction: column;
}

table {
    margin-bottom: 1em;
}

thead {
    background-color: #2e0b0b;
}

th,
td {
    padding: 0.5em 0.3em;
    text-align: left;
}

.gimme-button {
    background-color: #e83f57;
    color: white;
    padding: 0.8em;
    cursor: pointer;
    display: block;
    width: fit-content;
    align-self: end;
}

footer {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    margin: 3em 0 0;
    padding: 1.5em 6em 3em;
}

footer h3 {
    margin-top: 0;
}

footer a {
    color: #ccc;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .links {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

footer address p {
    font-size: 0.75em;
    max-width: 70%;
}